.carrusel{
    width: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.acces__galeria,.pantalones__galeria, .remeras__galeria, .zapatillas__galeria{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap:1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding: 1rem 1rem 0 1rem;
}

.acces__galeria::-webkit-scrollbar, .remeras__galeria::-webkit-scrollbar, .zapatillas__galeria::-webkit-scrollbar, .pantalones__galeria::-webkit-scrollbar{
    display: none;
}

.acces__productos--div, .pantalones__producto--div, .remeras__producto--div, .zapatillas__producto--div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    margin:2rem 2rem 2rem 0;
}

.acce__producto--img, .pantalones__producto--img{
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    padding:2rem 1rem;
    box-shadow: 5px 5px 20px black;
    background: linear-gradient( #FBAF4C , #FE943E);
    border-radius: 1rem;
    object-fit: contain;
}

.pantalones__producto--img{
    background: linear-gradient( #C0C96B, #E7D764);

}