.acces, .pantalones, .remeras, .zapatillas{
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

.categorias{
    background: linear-gradient(var(--naranja--central), rgb(247, 220, 98),var(--color--fondo));
}

