.contacto__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 0;
}

.contacto__titulo{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-weight: 700;
}

.div__input--nombre{
    display: flex;
    flex-direction: column;
    background-color: var(--color--verdeClaro);
    margin: 0rem 0 1rem 0;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(101, 233, 101, 0.63);
}

.contacto__form{
    display: flex;
    flex-direction: column;
}

.contacto__nombre::placeholder, .contacto__mensaje::placeholder{
    font-family: 'Philosopher';
    font-size: 1rem;
}

.contacto__nombre--label{
    padding: 0.5rem 0 0 0.5rem;
}

.contacto__nombre, .contacto__mensaje{
    background-color: var(--color--verdeClaro);
    border: none;
    padding: 0.5rem ;
    font-size: 1rem;
    outline: none;
    box-shadow: 5px 5px 10px rgba(101, 233, 101, 0.63);

}

.contacto__boton{
    margin: 2rem 0;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-family: 'Philosopher';
    width: 12rem;
    border: none;
    background-color: var(--color--fondo);
    font-weight: 600;
    box-shadow: 5px 5px 10px white;

}

.contacto__boton:hover{
    background-color: var(--color--verdeFuerte);
}
