.categorias{
    background: linear-gradient(var(--color--verdeIntermedio), var(--color--verdeClaro));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    border-top: 1px dashed black;
    margin-bottom: 2rem;
}


  