.zapatillas__producto--img, .remeras__producto--img{
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    padding:2rem 1rem;
    box-shadow: 5px 5px 20px black;
    background: linear-gradient( #90B974, #B7C76D);
    border-radius: 1rem;
    object-fit: contain;
}

.remeras__producto--img{
    background:linear-gradient(#F7DA61, #F9C054 );
}