.boton__login{
    padding: 1.5rem 3rem;
    border: none;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: "Philosopher";
    border: none;
    border-radius: 5rem;
    background-color: var(--naranja--central);
    color: var(--color--verdeOscuro);
    position: relative;
}

.boton__login:hover{
    background:#A2E094;
    color: var(--color--verdeOscuro);
}

.boton__login:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #FF8939, #FF3708, #FFB908,#FF3708, #FF8939, #FF3708, #FFB908,#FF3708);
    background-size: 800%;
    border-radius: 7rem;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}