.encabezado{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem;
}

.encabezado__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    position: relative;
    height: 4rem;
}

.logo__aluraComfy{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.encabezado__logo--titulo2, .encabezado__logo--titulo{
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
}

.encabezado__logo--titulo{
    color: var(--naranja--central);
}

.encabezado__logo--titulo2{
    color: var(--color--verdeClaro);
}


